<% if current_user.present? %>
  <div id="subscription_form">
  <% if current_user.subscribed?(@sub) %>
    <%= render 'subs/unsubscribe' %>
  <% else %>
    <%= render 'subs/subscribe' %>
  <% end %>
  </div>
<% end %>