<%= form_for(current_user.active_subscriptions.find_by(sub_id: @sub.id),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= button_tag :class => "btn btn-sm btn-link subscribe" do %>
  	<span class="fa fa-minus-circle"></span> <%= t(:sub_unsubscribe) %>
  <% end %>
<% end %>