<div class="row clearfix">
	<div class="col-md-12 column">
		<h4><%= link_to @sub.name, sub_path(@sub) %></h4>
	</div>
</div>
<div class="row clearfix">
  <div class="col-md-9 column">
  	<%= render 'shared/post_list' %>
  </div>
  <div class="col-md-3 column">
    <%= render 'sidebar' %>
	</div>
</div>