<% provide(:title, @sub.name) %>
<div class="row clearfix">
  <div class="col-md-9 column">
  	<%= render 'shared/post_list' %>
  </div>
  <div class="col-md-3 column">
    <%= render 'shared/sidebar' %>
	</div>
</div>