/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require custom_bootstrap/custom_bootstrap
 *= require font-awesome
 *= require_tree .
 */

body { 
   overflow-x: hidden;
}

.faded {
	color: #999;
}

.submission {
	margin-bottom: 5px !important;
}

 .post-content>a, 
 .post-content>h4>a {
 	color: #333;
 }
/*
 .post-content>h6>a,
 .post-content>p>a {
 	color: #551a8b;
 }
*/
 .post-content>h6 {
 	margin-top: 1px;
 }

.clear-bottom {
	margin-bottom: 0px !important;
}

.clear-top {
	margin-top: 0px !important;
}

.comments {
	margin-top: 10px;
}

.comments-title {
	margin-top: 0px;
}

.comments-separator {
	margin-top: 3px;
}

/*
.clear-horizontal-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.dropdown-menu{
    position:fixed;
}

.navbar-no-curves {
	border-radius: 0 !important;
}

.navbar-default {
	background-color: #e4e4e4 !important;
	border-color: #e4e4e4 !important;
}

.navbar-inverse {
	background-color: #c03f11 !important;
	border-color: #c03f11 !important;
	border: 0;
	opacity: 1;
}
*/
.navbar-right {
	padding-right: 15px;
}
/*
.nav-sm>li>a {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	padding-left: 7px !important;
	padding-right: 7px !important;
}

.container-fluid {
	padding-left: 2px !important;
	padding-right: 5px !important;
}
*/
.stats {
	margin-bottom: 10px;
}

.description {
	margin-bottom: 10px;
}
.post {
    display: block;
    list-style-type: none;
    padding-left: 10px;
}

.post>ul {
	min-height: 60px;
}

.post>ul>li {
	min-height: 60px;
}

.rank {
	float: left;
	margin-top: 18px;
}

.post-content {
	margin-left: 70px;
}

.score-col {
	float: left;
	margin-left: 10px;
	min-width:40px;
}

.uparrow,
.downarrow,
.score {
	text-align: center;
}

.uparrow>a,
.downarrow>a {
	color: #b3b3b3;
}

.voted>a {
	color: #d9230f !important;
}

.subscribe {
	/*width: 100px;*/
}

.sidebar {
	padding-right: 5px !important;
}

.breadcrumb {
	padding-left: 0px !important;
}


.new-comment {
  margin-bottom: 20px;
}

.comment-box {
  border-left: 2px inset rgba(0, 0, 0, 0.2);
  padding:10px 0 10px 10px;
  margin-bottom: 2px;
}

.comment-box:hover {
  border-left: 2px inset rgba(255, 0, 0, 0.7);
}

.comment {
  margin-bottom: 10px;
  margin-left: 5px;
}

.comment-box-reply {
  background-color: rgba(255, 0, 0, 0.1);
}

.reply {
  margin-top: 5px;
  margin-right: 5px;
}

.vote-box {
  margin-bottom: 10px;
  padding-left: 10px;
}

.inactive {
  pointer-events: none;
  cursor: default;
}

.already-voted, .already-voted a {
  color: rgba(0, 0, 0, 0.3);
}
